In [5]:
from datasets import load_dataset
import pandas as pd
dataset = load_dataset("arbml/Tunisian_Dialect_Corpus")
df = pd.DataFrame(dataset['train'])
df.to_csv('tunisian_dialect_corpus.csv', index=False)

Repo card metadata block was not found. Setting CardData to empty.

In [10]:
df

                                                   Tweet  label
0                                   Nn mouch 7louwa faza      1
1                                mabladkom 3bed tfouuuuh      1
2      تفووووووه عليك و علا والديك على عايلتك و على ا...      1
3                                  لا يليق بهذا البرنامج      1
4                                                  رهدان      1
...                                                  ...    ...
49884                                        الله يستر ن      0
49885                                        الله يستر ن      0
49886  ربي اكون فى عونكم بالحق ربي ابقي الستر على تون...      0
49887                                                         0
49888                                      ربي يلطف بينا      0

[49889 rows x 2 columns]

In [13]:
from transformers import AutoTokenizer
import numpy as np

tokenizer = AutoTokenizer.from_pretrained("UBC-NLP/MARBERT")

lengths = []
for text in df["Tweet"]:
    lengths.append(len(tokenizer(text).input_ids))

np.percentile(lengths, [50, 75, 90, 95, 99])

array([10., 17., 30., 42., 89.])